@model RegisterViewModel

<form asp-action="Register" method="post">
    <input asp-for="FullName" />
    <input asp-for="Email" />
    <input asp-for="Password" type="password" />
    <input asp-for="ConfirmPassword" type="password" />
    <input asp-for="Address" />
    <input asp-for="City" />
    <input asp-for="PostalCode" />
    <button type="submit">Register</button>
</form>